settings
  .form-group
    margin-bottom 100px
  legend
    text-align center
  input, select
    margin-bottom 10px
  .upload
    display block
    width 80px
    height 40px;
  .over
    background-color rgba(0, 0, 0, 0.5)
  .preOver
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    z-index 10
    text-align center
  .overImage
    display block