<div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" ui-sref="chat">Chat<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav"><!-- left navbar -->

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="padding: 1px; width:50px;"><img alt="avatar" ng-src="{{user.avatarUrl}}" style="width:50px;"></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{user.username}}<b class="caret"></b></a>
                        <ul class="dropdown-menu" class="nav-drop">
                            <li><a ui-sref="settings">Settings</a></li>
                            <li><a ng-click="vm.Home.logOut()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="chat">
        <label class="h2"><strong>Chat for true ninjas</strong></label>
        <ul id="listOfMessages">
            <li ng-repeat="message in vm.messages| orderBy:date:reverse">{{message.owner.username}}:<div class="alert alert-info">{{message.text}}</div></li>
        </ul>
    </div>
    <div class="input-group messageInput">
        <input type="text" class="form-control" ng-model="newMessage" placeholder="Write your haiku...">
        <span class="input-group-btn">
       <button class="btn btn-primary" ng-click="vm.sendMessage(newMessage);">Throw Shuriken</button>
    </span>
    </div>
</div>
