categories
      .categories
        width 500px
        cursor pointer
        /*display none*/
      .hide
        display none
      .children
        list-style-type none
        display block
      .categoryButton
        border 0
