<form novalidate class="modal fade bs-example-modal-lg" id="createArticle" tabindex="-1" role="dialog"
	  aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="form-group modal-header">
				<span class="modal-title h4">New note</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
	</div>
			<div class="form-group modal-body">
				<input type="text" class="form-control" ng-model="vm.article.title" placeholder="Title" required>
				<br>
				<textarea class="form-control"
						  ng-model="vm.article.text" placeholder='Put some text' rows="3" required>
				</textarea>
				<br>
				<tags-input min-length="0" ng-model="vm.article.tags" placeholder="Add some tags">
					<auto-complete source="tagPromise"></auto-complete>
				</tags-input>
				<br>
				<div class="row">
					<div class="col-md-4">Chose color of note:</div>
					<div class="col-md-8">
						<select class="form-control" id="color">
						<option ng-repeat="color in vm.colors" style="background: {{color.color}}" value="{{color.color}}">{{color.name}}</option>
						</select>
					</div>
				</div>
				<br>
				<div class="categories">
					Categories:<categories family="categories"></categories>
				</div>
				All fields are required
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="submit" ng-click="vm.addArticle();">Create</button>
				<button class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</form>