.tool
  position absolute !important
  top 5px
  right 5px

add-article
    .categories
        width 100%
        margin 10px 0
    .category
        width 200px
        margin 3px
    .subCategory
        margin-left 20px
        width 200px

